<h1 align="center">{{title}}</h1>
<div *ngIf="usrnme.trim()">
  <h3 align="center"><u>Hi {{usrnme | uppercase}} !</u></h3>
  <h4 align="center">Welcome to the <strong>GROCERY CART</strong> !!</h4> 
</div>
<div *ngIf=ShoppingList.length>
    <h4 align="left">You Shopping List consists of {{ShoppingList.length}} items</h4>
</div> 
 <ul>
    <li *ngFor="let item of listOfItems;let i=index" (click)="updateShoppingList(i,item)">
    {{item}}</li>
</ul>
<div *ngIf=ShoppingList.length>
  <h3 (click)=showToShoppingList()>View Shopping List</h3>
</div>    
<div *ngIf=child>  
    <ol>
      <li *ngFor="let item of ShoppingList;let i=index">{{item.name}} ---> {{item.id}}</li>
    </ol>
</div>   

<a routerLink="checkout">Check OUT </a>



