    <body>
        <main>
            <div class="header">
                <a href="">Home</a>
                <a href="">User</a>
                <a href="index.html">User Profile</a>
            </div>

            <div class="left-container">

                <div class="dashboard">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.SCf_RDu-SvDvDzaGIzzPIAHaHa%26pid%3DApi&f=1" 
                    width="50%"
                    >
                    <div class="name">
                        <strong>John Doe</strong>
                    </div>
                    <div class="work-details">
                        Full Stack Developer
                        <br>
                        Bay Area, San Francisco, CA
                    </div>
                    <button>Follow</button>
                    <button>Message</button>
                </div>

                <div class="web-links">
                    <div class="websites">
                        <i class="fa fa-globe" aria-hidden="true" title="Website"></i> Website
                            
                    </div>
                    <hr>
                    <div class="websites">
                        <img src="https://cdn.onlinewebfonts.com/svg/img_327941.png" width="25px">GitHub
                         <span style="text-align:right;border:1px solid hotpink">bootdey</span>
                    </div>
                    <hr>
                    <div class="websites">
                        Website
                    </div>
                    <hr>
                    <div class="websites">
                        Website
                    </div>
                    <hr>
                    <div class="websites">
                        Website
                    </div>
                </div>

            </div>
            

            <div class="right-container">
            
                <div class="user-details">
                    <div class="heading">
                        Full Name
                    </div>
                    <div class="value">              
                        Kenneth Valdez
                    </div>
                    <hr>
                    <div class="heading">
                        Email
                    </div>
                    <div class="value">              
                        fip@jukmuh.al
                    </div>
                    <hr>
                    <div class="heading">
                        Phone
                    </div>
                    <div class="value">              
                        (239) 816-9029
                    </div>
                    <hr>
                    <div class="heading">
                        Mobile
                    </div>
                    <div class="value">              
                        (320) 380-4539  
                    </div>
                    <hr>
                    <div class="heading">
                        Address
                    </div>
                    <div class="value">              
                        Bay Area, San Francisco, CA
                    </div>
                </div>


                <div class="assignment-project">

                        <div class="title">
                          assignment Projects Status
                        </div>
                        <div class="progressBar">
                            <label for="webDesign">Web Design</label>
                            <br>
                            <progress value="50" max="100" id="webDesign"></progress>
                        </div>
                        <div class="progressBar">
                            <label for="websiteMarkup">Website Markup</label>
                            <br>
                            <progress value="50" max="100" id="websiteMarkup"></progress>
                        </div>
                        <div class="progressBar">
                            <label for="OnePage">One Page</label>
                            <br>
                            <progress value="50" max="100" id="OnePage"></progress>
                        </div>
                        <div class="progressBar">
                            <label for="MobileTemplate">Mobile Template</label>
                            <br>
                            <progress value="50" max="100" id="MobileTemplate"></progress>
                        </div>
                        <div class="progressBar">
                            <label for="backendAPI">Backend API</label>
                            <br>
                            <progress value="50" max="100" id="backendAPI"></progress>
                        </div>
                    
                </div>
            

                <div class="assignment-project">
                    
                        <div class="title">
                            assignment Projects Status
                          </div>
                          <div class="progressBar">
                              <label for="webDesign">Web Design</label>
                              <br>
                              <progress value="50" max="100" id="webDesign"></progress>
                          </div>
                          <div class="progressBar">
                              <label for="websiteMarkup">Website Markup</label>
                              <br>
                              <progress value="50" max="100" id="websiteMarkup"></progress>
                          </div>
                          <div class="progressBar">
                              <label for="OnePage">One Page</label>
                              <br>
                              <progress value="50" max="100" id="OnePage"></progress>
                          </div>
                          <div class="progressBar">
                              <label for="MobileTemplate">Mobile Template</label>
                              <br>
                              <progress value="50" max="100" id="MobileTemplate"></progress>
                          </div>
                          <div class="progressBar">
                              <label for="backendAPI">Backend API</label>
                              <br>
                              <progress value="50" max="100" id="backendAPI"></progress>
                          </div>   
                    
                </div>

            </div>            
        </main>
    </body>