.assignments
{
    margin-top:1%;
    width:100%;
    display: inline-block;
    border-radius:5px;
}

/* Assignments Classes */
.assignment-project
{
    margin-top:0.5%;
    width: 46%;
    background-color:white;
    display:inherit;
    border-radius:inherit;
    padding-left:3%;
    padding-bottom:3%;
    box-shadow:1px 1px 1px 1px lightgray;
}

/* Assignment-Project Components */
.title
{
    background-color: inherit;
    width:100%;
    margin-top:4%;
    margin-bottom:4%;
    display:inherit;
    font-weight:600;
}

.progress-row
{
    width:100%;
    background-color:inherit;
    margin-bottom:4%;
}

progress
{
    border-radius:6px;
    height:5px;
    width:90%;
    background-color: #E9ECEF;
    border:none;
    margin:0;
}

progress::-moz-progress-bar                            /* using GeeksForGeeks https://www.geeksforgeeks.org/how-to-set-color-of-progress-bar-using-html-and-css/ */
{
    background-color: #007BFF ;
    border-top-left-radius:6px;
    border-bottom-left-radius:6px;
}

.progress-row label
{
    background-color:inherit;
    font-size:15px;    
}


