<h1>Login Page</h1>
<div class="design">
<div class="d-flex justify-content-center" >
    <form class="form-group" >
        
        <label class="col-xs-3"
        for="NameField">
            Name: 
        </label>
        <input 
        type="text" 
        required
        name="nameField"
        id="NameField"
        placeholder="Enter Your Name"
        class="form-control"
        [(ngModel)]="name"
        #nmfld="ngModel"
        pattern="[a-zA-Z]+( {1}.[a-zA-Z]+)*"
        title="One space between the names is allowed; more is not allowed ; spaces at starting and ending is not allowed"
        />
        
        <small 
        class="text-danger" 
        [hidden]="name || nmfld.untouched">
            Name is a Required Field
        </small>
        <small class="text-danger" [hidden]="nmfld.pristine || nmfld.valid">Space is not allowed in Beginning and End.</small>

        
        <br>
        
        <label class="col-xs-3"
        for="MailField">
            EMail:
        </label>
        <input 
        type="email"
        name="mailField"
        id="MailField"
        placeholder="Enter Your Email"
        required
        ngModel
        class="form-control"
        #mail="ngModel"
        pattern="\w+.@.[a-z]+.\..[a-z]+"
        title="abc@xyz.jkl"
        />      
        <small class="text-danger" [hidden]="mail.valid||mail.pristine">Enter Valid Email</small>
        
        <br>
        
        <label class="col-xs-3" 
            for="PassField">
            Password:
        </label>
        <input 
        required
        name="passField"
        id="PassField"
        placeholder="Enter Your Password"
        [(ngModel)]="pass"
        class="form-control"
        #ps="ngModel"
        pattern="((?=\S*\d+)(?=\S*[A-Z]+)(?=\S*[a-z]+)(?=\S+[:!@#$%\^\\])).{8}"
        title="Password: 8 Letters with atleast 1 spl char, 1 number, 1 Uppercase and 1 Lower case alphabet"
        />
        <small class="text-danger" [hidden]="ps.untouched || (ps.dirty && ps.valid)">Password Invalid</small>
          
        <br>
    
        <label class="col-xs-3" for="TelField">
            Phone:
        </label>
        <input 
        type="tel" 
        required
        name="telField"
        id="TelField"
        placeholder="Enter Phone Number"
        [(ngModel)]="tel"
        pattern=\d.{9}
        class="form-control"
        #phone="ngModel"
        title="10 Numbers in the Phone"
        />
        <small class="text-danger" 
        [hidden]="phone.valid || phone.pristine">Invalid Phone Number</small>
    
    
        <br>
        
        <input type="Submit" value="Submit" class="btn btn-primary" (click)="onClick()" 
        [disabled]="nmfld.invalid || ps.invalid || phone.invalid || mail.invalid">
    </form>

    <br><br>
</div>
</div>